.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: rgb(228, 228, 228);
}

.logo{
  position: absolute;
  width: 228px;
  height: 32px;
}

.logo_place_header{
  top: 30px;
  left: 64px;
}

.header__title{
  align-self: center;
  margin-left: 64px;
  width: 730px;
  z-index: 1;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;

}

.header__subtitle{
  position: absolute;
  align-self: flex-end;
  width: 388px;
  margin: 0 0 30px 64px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__link{
  text-decoration: none;
  color: rgb(48, 48, 255);
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: blue;
  right: 0;
  top: 64px;
}

.description{
  margin: 100px 0;
}

.two-columns{
  display: flex;
  width: 80%;
  margin: auto;
  align-items: flex-start;
  justify-content: space-between;
}

.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: rgb(68, 68, 255);
  width: 175px;

}

.two-columns__main-text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph{
  margin-bottom: 30px;
}

.section-title{
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle{
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  display: flex;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell{
  width: 250px;
  margin-top: 10px;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-size: 600;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table-text_space_bottom{
  margin-bottom: 100px;
}

.table-text_space{
  margin-top: 20px;
}

.feynman{
  height: 890px;
  position: relative;
}

.feynman__title{
  width: 648px;
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle{
  margin: auto;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link{
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  top: 50%;
  right: 48px;
  color: rgb(48, 48, 255);
  text-decoration: none;
}

.feynman__image{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.kaufman{
  background-color: black;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.section-title_theme_dark{
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark{
  font-size: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle{
  position: absolute;
  top: 0%;
  right: -210px;
}

.footer{
  background-color: black;
  position: relative;
  color: white;
  display: flex;
  padding: 60px 0 40px 0;
}

.footer__columns{
  display: flex;
  width: 90%;
  height: 300px;;
  margin: auto;
  justify-content: space-between;
}

.footer__column_content_copyright{
  display: flex;
  flex-basis: 711px;
}

.footer__author{
  color: white;
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 18px;
}

.foooter__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__column-links{
  display: flex;
  flex-direction: column;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

